max-line-length = 120
ignore =
    W391,  # blank line at end of file
    E501,  # line too long
    F841,  # local variable is assigned but never used
    F401,  # imported but unused
    E125,  # continuation line
    E722,  # bare except
    E712,  # comparison to False
per-file-ignores =
    # Игнорировать конкретные ошибки в конкретных файлах
    ./vk_bot_api/vk_bot.py:E501,F841,E125,E722
exclude =
    .git,
    __pycache__,
    .venv,
    venv,
    env,
    .env